.add-estate-container {
    background-image: url("../../images/backgrounds/4.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.add-estate {
    top: 70px;
}
.add-estate-title {
    font-weight: 200;
}
