.home-container {
    background-image: url("../../images/backgrounds/3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 90vh;
}
.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 500px;
    max-width: 90vw;
    text-align: center;
}
.app-description {
    text-align: justify;
    max-width: 80vw;
    color: #333333;
}
