.navbar {
    z-index: 10;
    min-height: 10vh;
}
.nav-item {
    font-weight: 300 !important;
    font-size: 20px !important;
}
.nav-home {
    color: #4527a0 !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
}
