.estates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 250px;
  gap: 10px;
}

.estate {
  height: 250px;
}
.estate:hover .buttons {
  opacity: 100;
  animation: fadeIn 0.5s;
}

.buttons {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
