/* Inter */
@font-face {
    font-family: "Inter";
    font-weight: 100;
    src: url("./Inter/INTER-THIN_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url("./Inter/INTER-EXTRALIGHT_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("./Inter/INTER-LIGHT_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./Inter/INTER-REGULAR_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("./Inter/INTER-MEDIUM_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("./Inter/INTER-SEMIBOLD_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("./Inter/INTER-BOLD_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url("./Inter/INTER-EXTRABOLD_0.TTF");
}
@font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url("./Inter/INTER-BLACK_0.TTF");
}
