/* IRANSans */
@font-face {
    font-family: "IRANSans";
    font-weight: 100;
    src: url("./IRANSans/IRANSANSWEB_ULTRALIGHT.TTF");
}
@font-face {
    font-family: "IRANSans";
    font-weight: 200;
    src: url("./IRANSans/IRANSANSWEB_LIGHT.TTF");
}
@font-face {
    font-family: "IRANSans";
    font-weight: 300;
    src: url("./IRANSans/IRANSANSWEB.TTF");
}
@font-face {
    font-family: "IRANSans";
    font-weight: 400;
    src: url("./IRANSans/IRANSANSWEB_MEDIUM.TTF");
}
@font-face {
    font-family: "IRANSans";
    font-weight: 500;
    src: url("./IRANSans/IRANSANSWEB_BOLD.TTF");
}
