.dashboard-container {
    background-image: url("../../images/backgrounds/6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user-dashboard-section {
    width: 800px;
    height: 400px;
}
.admin-dashboard-section {
    width: 1200px;
    height: 600px;
}
