.dashboard-container {
    background-image: url("../../images/backgrounds/6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    overflow: hidden;
}
.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user-dashboard-section {
    min-width: 50vw;
    min-height: 50vh;
}
.admin-dashboard-section {
    width: 92vw;
    height: 88vh;
}

@media (max-width: 900px) {
    .dashboard {
        flex-direction: column;
    }
    .admin-dashboard-section {
        width: 100vw;
    }
    .sidebar {
        flex-direction: row;
    }
}
