.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    overflow: hidden;
}
.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.user-dashboard-section {
    min-width: 50vw;
    min-height: 50vh;
}
.owner-dashboard-section {
    width: 100%;
    height: 90vh;
    max-height: 85vh;
}
.admin-dashboard-section {
    width: 100%;
    height: 90vh;
    max-height: 85vh;
}

@media (max-width: 900px) {
    .dashboard {
        flex-direction: column;
    }
    .sidebar {
        flex-direction: row;
    }
}
