* {
  margin: 0;
  padding: 0;
}

.btn-purple {
  color: #ffffff;
  background-color: #4527a0 !important;
}
.btn-purple:hover {
  color: #ffffff;
  background-color: #5334af !important;
}

.btn-outline-purple {
  border-color: #4527a0;
  color: #4527a0;
}
.btn-outline-purple:hover {
  background-color: #4527a0;
  color: white;
}

.purple {
  color: #4527a0;
}
.purple:focus {
  color: #4527a0;
}

.glass {
  background-color: #ffffff90;
  backdrop-filter: blur(5px);
}

.loading-bar {
  direction: ltr;
}

.edit-section-icon:hover {
  color: #222222 !important;
}
