@import "./fonts/IRANSans.css";
@import "./fonts/Inter.css";

* {
  font-family: "IRANSans", "Inter";
  direction: rtl;
}

.remove-icon {
  opacity: 0%;
}

.list-item:hover .remove-icon {
  opacity: 100%;
}
