@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Vazirmatn;
    src: url("./fonts/ttf/Vazir-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Vazirmatn;
    src: url("./fonts/ttf/Vazir-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Vazirmatn;
    src: url("./fonts/ttf/Vazir-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  body {
    @apply font-vazir;
    direction: rtl;
  }
}
